<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
<?php echo $this->Form->create('Nacionalidade'); ?>
        <fieldset>
            <legend><?php echo __('Agregar Nacionalidad'); ?></legend>
	<?php
		echo $this->Form->input('nacionalidad');
	?>
        </fieldset>
<?php echo $this->Form->button('Agregar',array('type'=>'submit','class'=>'btn btn-primary')); ?>
    </div>
    <div class="col-md-4"></div>
</div>