h1 {
    text-align: center;
    text-transform: uppercase;
    color: #4CAF50;
}
p {
    text-indent: 50px;
    text-align: justify;
    letter-spacing: 3px;
}
a {
    text-decoration:none;
    color: #008CBA;
}

p .espacio {
    word-spacing: 30px;
}

.redtext 
{
    color: red;
}

.bluetext
{
    
    color: #0000ff;
}

.peque {
    font-size: 100%;
}