<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">


<?php echo $this->Form->create('Destino'); ?>
        <fieldset>
            <legend><?php echo __('Agregar Destino'); ?></legend>
	<?php
		echo $this->Form->input('destino');
		
	?>
        </fieldset>
               <?php echo $this->Form->button('Agregar',array('type'=>'submit','class'=>'btn btn-primary')); ?>
    </div>
    <div class="col-md-4"></div>
</div>







