<?php

/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */

//<div id="divActualiza"></div>
//<?php 
//$onclick = $this->Ajax->remoteFunction
//                                                (
//                                                    array
//                                                        ( 
//                                                           'url' => array('controller'=>'controlador', 'action' => 'delete'), 
//                                                           'data'=>'
//                                                                    (
//                                                                        {
//                                                                            id: 1,
//									    hotel_id: 3  
//                                                                        }
//                                                                    )',
//                                                            'type'=>'POST',
//							    'update'=>'divActualiza',
//                                                            'after'=>"
//                                                                     ",
//                                                            'complete'=>"
//                                                                        "
//                                                        )
//                                                );
//?>
<!--<a href="javascript:;" onclick="//<?php echo $onclick; ?>">Prueba ajax </a>-->
<div class="row">
<div class="col-sm-3"></div> 

<div class="col-sm-6" >//cambie el tamaño del div a tamaño 6 en el centro
    <div class="form-inline">
<br></br><br>
             <?php echo $this->Html->image('logo.jpg'); ?>   <!-- Logo para el cupon -->
           <h1>CUPON DE SERVICIO</h1>  
           <b class="redtext" > Folio: </b>
            <br></br>
        <b class="bluetext"> ACEPTAMOS / WE ACCEPT </b>      
         <?php echo $this->Html->image('visa.png'); ?>  
     
        <p class="bluetext"> Mas cargo del 4% / Plus Charge 4% </p>
        
         <?php echo $this->Form->create('Tour'); ?>
                  <?php
		   echo $this->Form->input('fecha',array('class'=>'form-group'));
		   echo $this->Form->input('hora_salida',array('div'=>array('class'=>'input-group clockpicker'),'class'=>'form-group','type'=>'text'));
                   ?>
                   <br>
            <?php
		echo $this->Form->input('lugar_salida');
		echo $this->Form->input('pax');
		echo $this->Form->input('destino_id');
                echo $this->Form->input('nombre');
		echo $this->Form->input('precio');
		echo $this->Form->input('saldo');
		echo $this->Form->input('cliente_id');
		echo $this->Form->input('hotel_id');
	?>


        <?php echo $this->Form->button('Agregar',array('type'=>'submit','class'=>'btn btn-primary')); ?>
           
    </div>
   <div class="col-sm-3"></div>
</div>

</div>
    
    <script type="text/javascript">
$('.clockpicker').clockpicker({
        align: 'left',
    donetext: 'Hecho'
});
</script>