<div class="idiomas form">
<?php echo $this->Form->create('Idioma'); ?>
	<fieldset>
		<legend><?php echo __('Add Idioma'); ?></legend>
	<?php
		echo $this->Form->input('idioma');
	?>
	</fieldset>
<?php echo $this->Form->end(__('Submit')); ?>
</div>

